{% extends 'index.html' %}
{% load static %}
{% block body %}
	<!-- //header -->
	<!-- about -->
	<div class="about">
		<div class="aboutw3-agileinfo">
			<!-- container -->
			<div class="container">
				<h2 class="agileits-title">About us</h2>
			</div>

		</div>
		<!-- about-bottom -->
		<div class="about-bottom">
			<!-- container -->
			<div class="container">
				<div class="about-agileinfo">
					<div class="col-md-6 about-w3grid">
						<img src="{% static 'images/track4.jpeg' %}" style="height:350px" alt="" />
					</div>
					<div class="col-md-6 about-w3grid"> 
						<h5>A tracking system is used for the observing of persons or objects on the move and supplying a timely ordered sequence of location data for further processing.</h5>
						<p>Smart Tracking System helps Service Delivery Organizations in achieving
							“Service Level Excellence” with both internal and external customers
							by meeting or exceeding the established “Service Level Agreements”</p>
						<br/><p>STS is a powerful, intuitive and easy-to-use web-based collaborative
							system which is rich in functionalities to track and manage business issues.
							STS gathers and
							tracks projects, bugs, issues and automatically manage
							them through to resolution.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- container -->
		</div>
		<!-- about-bottom -->
		<!-- about-team -->
		<div class="about-team agileits-w3layouts">
			<!-- container-wrap -->
			<div class="container">
				<h3>Our Team</h3>
				<div class="team-wthreegrids">
					<div class="col-md-3 team-grid">
						<img src="{% static 'images/t1.jpg' %}" alt="">
						<h6>convallis id mauris</h6>
						<div class="team-w3icons w3-agileitsicons"> 
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a class="twt" href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
								<li><a class="drbl" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> </a></li>
							</ul>  
						</div>
						<p> Curabitur orci massa convallis id mauris sed venenatis porttitor at leo nec purus</p>
					</div>
					<div class="col-md-3 team-grid">
						<img src="{% static 'images/t2.jpg' %}" alt="">
						<h6>massa convallis</h6>
						<div class="team-w3icons w3-agileitsicons"> 
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a class="twt" href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
								<li><a class="drbl" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> </a></li>
							</ul>  
						</div>
						<p> Curabitur orci massa convallis id mauris sed venenatis porttitor at leo nec purus</p>
					</div>
					<div class="col-md-3 team-grid">
						<img src="{% static 'images/t3.jpg' %}" alt="">
						<h6>leonec purus</h6>
						<div class="team-w3icons w3-agileitsicons"> 
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a class="twt" href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
								<li><a class="drbl" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> </a></li>
							</ul>  
						</div>
						<p> Curabitur orci massa convallis id mauris sed venenatis porttitor at leo nec purus</p>
					</div>
					<div class="col-md-3 team-grid">
						<img src="{% static 'images/t4.jpg' %}" alt="">
						<h6>venenatis portt</h6>
						<div class="team-w3icons w3-agileitsicons"> 
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a class="twt" href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
								<li><a class="drbl" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> </a></li>
							</ul>  
						</div>
						<p> Curabitur orci massa convallis id mauris sed venenatis porttitor at leo nec purus</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- //container -->
		</div>
		<!-- //about-team -->
		<!-- choose -->

		<!-- //choose -->
	</div>
	<!-- //about -->
	<!-- footer -->
	{% endblock %}