{% extends 'index.html' %}
{% load static %}
{% block body %}

<div class="container" style="margin-top:5%;margin-bottom:5%">
    <div class="row">

        <div  class="col-md-7">
                <h2 style="background:#262626;padding:19px;color:white">UPDATE BUYER DETAIL</h2>
<form id="loginForm" action="#" method="post" style="width:100%" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset id="body">
        <div class="row">
            <div class="col-md-12">
                <fieldset>
                    <label for="email">Username</label>
                    <input type="text" name="name" id="email" value="{{buy.user.username}}" readonly>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <fieldset>
                    <label for="email">First Name</label>
                    <input type="text" name="fname" value="{{buy.user.first_name}}" id="email" required="">
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset>
                    <label for="email">Last Name</label>
                    <input type="text" name="lname" value="{{buy.user.last_name}}" id="email" required="">
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <fieldset>
                    <label for="email">Email Address</label>
                    <input type="email" name="email" value="{{buy.user.email}}" id="email" required="">
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset>
                    <label for="email">Mobile Number</label>
                    <input type="text" name="contact" value="{{buy.contact}}" id="email" required="">
                </fieldset>
            </div>
        </div>
        <div class="row">
              <div class="col-md-12">
                   <fieldset>
                    <label for="email">Address</label>
                    <input type="text" name="address" value="{{buy.address}}" id="email" required="">
                   </fieldset>
              </div>

    <div class="col-md-12">
                <fieldset>
            <label for="email">Additional Email Address</label>
            <textarea name="aemail" style="border:1px solid lightgrey;width:100%;hover:lightgrey" id="email">{{buy.additional_email}}</textarea>
        </fieldset>
     </div>
        </div></fieldset>
        <input type="submit" id="login" value="Update Buyer" style="padding:12px">
</form>
</div>

    </div>

</div>

{% if error %}
<script>
    alert('Update Admin successfully');
    window.location = "{% url 'view_rm' %}";
</script>
{% endif %}

{% endblock %}
