{% extends 'index.html' %}
{% load static %}
{% block body %}
<div align="center" class="banner-agileinfo">
				<script src="{% static 'js/responsiveslides.min.js' %}"></script>
				<script>
					// You can also use "$(window).load(function() {"
					$(function () {
					// Slideshow 4
						$("#slider3").responsiveSlides({
							auto: true,
							pager: true,
							nav: false,
							speed: 500,
							namespace: "callbacks",
							before: function () {
								$('.events').append("<li>before event fired.</li>");
							},
							after: function () {
								$('.events').append("<li>after event fired.</li>");
							}
						 });
					});
				</script>
				<div align="center" id="top" class="">
					<ul class="" id="slider3">
						<div style="margin-top:5%;margin-bottom:2%">
								<img src="{% static 'images/track1.jpg' %}" style="width:20%;height:200px">
							</div>
					</ul>
				</div>
			</div>

{% endblock %}