{% extends 'index.html' %}
{% load static %}
{% block body %}
<style>
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

</style>
<h1 align="center" style="font-weight:bold;font-family : 'Monotype Corsiva' ; color : #E6120E ;margin-top:4%">View Under Development Sampling</h1>
<hr>
<div class="container-fluid scrollmenu" style="width:85%">
                            <div class="container-fluid">
                            </div>

                                <table id="example" class="display" style="width:100%">
                                  <thead>
                                    <tr>
                                      <th>Image</th>
                                      <th>Supplier</th>
                                      <th>Season</th>
                                      <th>Drop</th>
                                      <th>Design_Name</th>
                                      <th>Color</th>
                                      <th>Product</th>
                                      <th>Sent On</th>
                                      <th>AWB No.</th>
                                      <th>Courier</th>
                                      <th>Start date</th>
                                      <th>Complete date</th>
                                      <th>Current Status</th>
                                      <th>Comments</th>
                                  </tr>
                              </thead>
                              <tbody>
                              {% for i in prod %}
                                <tr>
                                  <td><img src="{{i.image.url}}" style="width:80px;height:80px"></td>
                                  <td>{{i.supplier.user.username}}</td>
                                  <td>{{i.season.name}}</td>
                                  <td>{{i.drop.name}}</td>
                                  <td>{{i.design_name}}</td>
                                  <td>{{i.color_name}}</td>
                                  <td>{{i.product.name}}</td>
                                  <td>{{i.sent_on}}</td>
                                  <td>{{i.awb_no}}</td>
                                  <td>{{i.courier_name}}</td>
                                  <td>{{i.dos}}</td>
                                  <td>{{i.doe}}</td>
                                  <td>{{i.c_status}}</td>
                                  <td align="center" style="width:150px">
                                  <a href="{% url 'view_comment' i.id %}"><button class="btn btn-success"><i class="fa fa-comment"></i> </button></a></td>
                                </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                  </div>

{% endblock %}