{% extends 'index.html' %}
{% load static %}
{% block body %}

<style>
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
#messages{
			background-color: grey;
			color: #fff;
			padding: 10px;
			margin-top: 2%;
}


</style>

<div class="container-fluid scrollmenu" style="width:100%">
                            <div class="container-fluid">
                                {% for message in messages %}
					                <p id="messages">{{message}}</p>
				                {% endfor %}
<h1 align="center" style="font-weight:bold;font-family : 'Monotype Corsiva' ; color : #E6120E ;margin-top:4%">View Bulk Order</h1>
                            </div><hr>
                            <center><form action="" method="post" style="margin-bottom:2%">
                                {% csrf_token %}
                                <label>From Date</label>
                                <input type="date" name="sdate">
                                <label>To Date</label>
                                <input type="date" name="edate"><br><br>
                                <input type="text" placeholder="Buyer/Supplier/Design" name="search">
                                <button type="submit"> search</button>
                            </form></center>
                            {% if obj %}
                                <table id="example" class="display">
                                  <thead>
                                    <tr>
                                      <th>Order NO</th>
                                      <th>Image</th>
                                      <th>Date</th>
                                      <th>Buyer</th>
                                      <th>Season</th>
                                      <th>Drop</th>
                                      <th>Design_Name</th>
                                      <th>Color</th>
                                      <th>Product</th>
                                      <th>Width</th>
                                      <th>Supplier</th>
                                      <th>Style</th>
                                      <th>Print_Tech</th>
                                      <th>Quantity</th>
                                      <th>Rate</th>
                                      <th>Value</th>
                                       <th> BPM </th>
                                       <th> BPM Status </th>
                                      <th>Delivery</th>
                                      <th>GMT Vendor</th>
                                      <th>Current Status</th>
                                      <th>Time Status</th>
                                      <th>Action</th>

                                  </tr>
                              </thead>
                              <tbody>
                              {% for i in obj %}
                              <tr>
                                  <td>{{i.id}}</td>
                                  <td>{%if i.sample.image %}
                                  <img src="{{i.sample.image.url}}" style="width:80px;height:80px">
                                  {% else %}
                                  {% endif %}</td>
                                  <td>{{i.dos}}</td>
                                  <td>{{i.sample.buyer.user.username}}</td>
                                  <td>{{i.season.name}}</td>
                                  <td>{{i.drop.name}}</td>
                                  <td>{{i.sample.design_name}}</td>
                                  <td>{{i.sample.color_name}}</td>
                                  <td>{{i.sample.product.name}}</td>
                                  <td>{{i.width}}</td>
                                  <td>{{i.sample.supplier.user.username}}</td>
                                  {% if not i.style is None %}
                                  <td>{{i.style}}</td>
                                  {% else %}
                                  <td></td>
                                  {% endif %}

                                  {% if not i.print_tech is None %}
                                  <td>{{i.print_tech}}</td>
                                  {% else %}
                                  <td></td>
                                  {% endif %}

                                  {% if not i.qunt is None %}
                                  <td>{{i.qunt}}</td>
                                  {% else %}
                                  <td></td>
                                  {% endif %}

                                  {% if not i.rate is None %}
                                  <td>{{i.rate}}</td>
                                  {% else %}
                                  <td></td>
                                  {% endif %}

                                  {% if not i.value is None %}
                                  <td>{{i.value}}</td>
                                  {% else %}
                                  <td></td>
                                  {% endif %}
                                
                                
                                {% if not i.bpm is None %}
                                  <td>{{i.bpm}}</td>
                                  {% else %}
                                  <td></td>
                                  {% endif %}
                                  
                                  {% if not i.bpmstatus is None %}
                                  <td>{{i.bpmstatus}}</td>
                                  {% else %}
                                  <td></td>
                                  {% endif %}
                                  
                                  
                                  {% if not i.del_date is None %}
                                  <td>{{i.del_date}}</td>
                                  {% else %}
                                  <td></td>
                                  {% endif %}

                                  {% if not i.gmt_vendor is None %}
                                  <td>{{i.gmt_vendor}}</td>
                                  {% else %}
                                  <td></td>
                                  {% endif %}

                                  {% if not i.c_status is None %}
                                  <td>{{i.c_status}}</td>
                                  {% else %}
                                  <td></td>
                                  {% endif %}

                                  {% if not i.time_status is None %}
                                  <td>{{i.bulk_time_status}}</td>
                                  {% else %}
                                  <td></td>
                                  {% endif %}

                                  <td align="center" style="width:100px">
                                  <a href="{% url 'admin_bulk_status' i.id %}">
                                      <button class="btn btn-primary">
                                          <i class="fa fa-eye"></i> </button></a>

                                  <a href="{% url 'copy_of_bulk' i.id %}">
                                      <button class="btn btn-success">
                                          <i class="fa fa-files-o"></i> </button></a>
                                
                                  
                                  {% if error != "pat4" %}
                                  <a href="{% url 'update_bulk_order' i.id %}" >
                                      <button class="btn btn-success">
                                          <i class="fa fa-edit"></i></button></a>
                                      
                                      
                                      <a href="{% url 'delete_bulk' i.id %}" ><button class="btn btn-danger" onclick="return confirm('Are you sure?')">
                                          <i class="fa fa-trash-o"></i></button></a>
                                          
                                          
                                          
                                          {% endif %}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                      {% endif %}
                  </div>

{% endblock %}